<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ming.androidmapbox">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".titlesource.RasterTileSourceActivity"></activity>
        <activity android:name=".titlesource.AddWmsSourceActivity" />
        <activity android:name=".titlesource.VectorSourceActivity" />
        <activity android:name=".expression.ExpressionMapActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".marker.CustomMarkerOneActivity" />
        <activity android:name=".marker.CustomMarkerTwoActivity" />
        <activity android:name=".marker.CustomMarkerThreeActivity" />
        <activity android:name=".marker.InfoWindowAdapterActivity" />
        <activity android:name=".symbol.GeoActivity" />
        <activity android:name=".symbol.ReverseGeoActivity" />
        <activity android:name=".symbol.SymbolLayerOneActivity" />
        <activity android:name=".symbol.SymbolLayerTwoActivity" />
        <activity android:name=".symbol.ClusterActivity" />
        <activity android:name=".symbol.InfoWindowActivity" />
        <activity android:name=".symbol.SnapshotActivity" />
        <activity android:name=".symbol.HideMapNameActivity" />
        <activity android:name=".symbol.LocationComponentActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".root.StyleActivity" />
        <activity android:name=".root.UiSettingActivity" />
        <activity android:name=".root.CameraPositionActivity" />
        <activity android:name=".root.MapListenerActivity" />
        <activity android:name=".layers.FillLayerActivity" />
        <activity android:name=".layers.LineLayerActivity" />
        <activity android:name=".layers.SymbolLayerActivity" />
        <activity android:name=".layers.SymbolLayerIconsActivity" />
        <activity android:name=".layers.MarkerFollowingRouteActivity" />
        <activity android:name=".layers.CircleLayerActivity" />
        <activity android:name=".layers.CircleToIconTransitionActivity" />
        <activity android:name=".layers.CircleLayerClusteringActivity" />
        <activity android:name=".layers.CircleCreateHotspotsActivity" />
        <activity android:name=".layers.MultipleHeatmapStylingActivity" />
        <activity android:name=".expression.ExpressionActivity" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>